{% extends 'base.html' %}
{% block meta %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel= "stylesheet" href="{% static 'style.css' %}">
    {% endblock meta %}
    {% block content %}
</head>
<body>
    <div class = "box">
        <div class = "form">
            <h2>Sign in</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="inputBox"> 
                    <input type="text" required="required" class="form-control">
                    <span>Username</span>
                    <i></i>
                </div>
                <div class="inputBox"> 
                    <input type="password" required="required" class="form-control">
                    <span>Password</span>
                    <i></i>
                </div>
                <div class="links">
                    <a href="{% url 'todolist:register' %}">Create Account</a>
                </div>
                <input class="btn btn-primary login_btn" type="submit" value="Login" />
            </form>
        </div>
            {% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<div style="display: flex; flex-direction: row; gap: 8px">
		<div>Belum mempunyai akun?</div>
		<a href="{% url 'todolist:register' %}" style="color: blue">Buat Akun</a>
	</div>
    </div>
</body>
</html>

{% endblock content %}

